@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;

.selected-game {
  margin-left: 2.4rem;
  font-size: 2.0625rem;
  line-height: 2.75rem;
  font-family: "Poppins Bold";
}
