@use "../../styles//partials/variables" as *;
@use "../../styles//partials/fonts" as *;
@use "../../styles//partials/global" as *;
@use "../../styles//partials/mixins" as *;

.game-card {
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 4px;

  @include tablet {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;
    border-radius: 4px;
  }

  &__image {
    width: 100%;

    @include tablet {
      border-radius: 4px;
    }
  }

  &__title {
    font-size: 18px;
    text-align: center;

    @include tablet {
    }
  }
}
