@use "../../styles//partials/variables" as *;
@use "../../styles//partials/fonts" as *;
@use "../../styles//partials/global" as *;
@use "../../styles//partials/mixins" as *;

.home {
  &__search {
    margin-top: 1rem;

    &__form {
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;

      @include tablet {
        margin-top: 2rem;
        margin-bottom: 1.5rem;
      }
    }
  }
  &__description-container {
    @include tablet {
      @include tablet-grid;
      display: flex;
      justify-content: start;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
  &__description {
    @include mobile-grid;
    font-family: $font-medimum;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1rem;
    @include tablet {
      width: 50%;
      color: white;
      font-size: 30px;
      line-height: 2.75rem;
      margin-right: 4rem;
    }
  }

  &__description-detailed {
    @include mobile-grid;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    margin-bottom: 2rem;
    @include tablet {
      font-family: $font-light;
      color: white;
      font-size: 15px;
      line-height: 1.75rem;
      width: 40%;
    }
  }

  &__games {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
