@use "../../styles//partials/variables" as *;
@use "../../styles//partials/fonts" as *;
@use "../../styles//partials/global" as *;
@use "../../styles//partials/mixins" as *;

.home {
  &__search {
    margin-top: 1rem;

    &__form {
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;

      @include tablet {
        margin-top: 2rem;
        margin-bottom: 1.5rem;
      }
    }
  }
  &__description-container {
    @include tablet {
      @include tablet-grid;
      display: flex;
      justify-content: start;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
  &__description {
    @include mobile-grid;
    font-family: $font-medimum;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1rem;
    @include tablet {
      width: 50%;
      color: white;
      font-size: 30px;
      line-height: 2.75rem;
      margin-right: 4rem;
    }
  }

  &__description-detailed {
    @include mobile-grid;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    margin-bottom: 2rem;
    @include tablet {
      font-family: $font-light;
      color: white;
      font-size: 15px;
      line-height: 1.75rem;
      width: 40%;
    }
  }

  &__games {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__divider {
    @include tablet {
    }
    border-bottom: 0.5px solid rgb(255, 255, 255);
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 35rem;
  }

  &__divider-right {
    border-bottom: 0.5px solid rgb(255, 255, 255);
    margin-bottom: 2rem;
    margin-left: 35rem;
    margin-right: 3rem;
  }

  &__directions {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    gap: 2rem;
    @include tablet {
      display: flex;
      justify-content: center;
      margin-bottom: 2rem;
      gap: 2rem;
    }
  }

  &__direction-container {
    display: flex;
    align-items: last baseline;
    justify-content: center;
    border: 0.5px solid white;
    border-radius: 10px;
    background-color: white;
    width: 200px;
    height: 270px;
    @include tablet {
      display: flex;
      align-items: last baseline;
      justify-content: center;
      border: 0.5px solid white;
      border-radius: 10px;
      width: 200px;
      height: 240px;
    }
  }

  &__direction-title {
    @include tablet {
      @include tablet_desktop_subheader;
    }
  }

  &__direction-icon {
    width: 25px;
    height: 25px;
    @include tablet {
      width: 25px;
      height: 25px;
    }
  }

  &__direction-buttom-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    border-bottom: 0.5px solid black;
    @include tablet {
      width: 80%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
      border-bottom: 0.5px solid black;
    }
  }

  &__direction-link {
    text-decoration: none;
    color: black;
  }

  &__buttom-title {
    margin-left: 2.4rem;
    margin-bottom: 2rem;
    font-size: 2.0625rem;
    line-height: 2.75rem;
    font-family: "Poppins Bold";
  }

  &__character-right {
    background-image: url(../../assets/images/vectors/undraw_game_world_re_e44j.svg);
    background-size: cover;
    background-position: top;
    width: 500px;
    height: 500px;
  }

  &__character-left {
    background-image: url(../../assets/images/vectors/undraw_gaming_re_cma2.svg);
    background-size: cover;
    background-position: left;
    width: 500px;
    height: 500px;
    margin-right: 4rem;
  }

  &__character-subheader {
    width: 50%;
    font-family: $font-extra-light;
    font-size: 15px;
    margin-right: 4rem;
    line-height: 1.75rem;
  }

  &__character-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
